/* Spacing Styles */
.mb-5:not(:last-child) {
	margin-bottom: 5px;
}

.mb-10:not(:last-child) {
	margin-bottom: 10px;
}

.mb-15:not(:last-child) {
	margin-bottom: 15px;
}

.mb-20:not(:last-child) {
	margin-bottom: 20px;
}

.mb-25:not(:last-child) {
	margin-bottom: 25px;
}

.mb-30:not(:last-child) {
	margin-bottom: 30px;
}